*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#container{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(15, 15, 15);
    z-index: -1;
}

.section-switch{
    width: 8%;
    height: 8%;
    border: 0px;
    outline: none;
    padding-bottom: .8%;
    display: inline-block;
    margin-top: 1.5%;
    margin-left: 5%;
    font-family: 'PT Sans', sans-serif;
    font-size: 110%;
    background-color: rgb(30, 30, 30);
    color: rgb(24, 126, 221);
    cursor: pointer;
}

#switch-signup{
    border-bottom: 2.5px solid rgb(24, 126, 221);
}

#form{
    position: fixed;
    width: 70%;
    height: 70%;
    top: 15%;
    left: 15%;
    border-radius: .5rem;
    background-color: rgb(30, 30, 30);
    z-index: 1;
}

#container-content{
    position: fixed;
    width: 70%;
    height: calc(67% - 57.11px);
    padding-top: 2%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow: hidden;
}

.section-content{
    height: 85%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(30, 30, 30);
}

.heading{
    color: rgb(200, 200, 200);
    font-family: 'PT Sans', sans-serif;
    font-size: 180%;
    margin-bottom: 2.5%;
}

.label-input{
    color: rgb(90, 90, 90);
    font-family: 'PT Sans', sans-serif;
    font-size: 100%;
    margin-bottom: .5%;
}

.input-data{
    outline: none;
    padding: .1% 1% .1% 1%;
    border: 1px solid rgb(15, 15, 15);
    border-radius: .2rem;
    width: 45%;
    height: 8%;
    background-color: rgb(26, 26, 26);
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 95%;
    margin-bottom: .8%;
}

.input-data:hover{
    border-color: rgb(0, 0, 0);
}

.input-data:focus{
    border-color: rgb(24, 126, 221);
    background-color: rgb(30, 30, 30);
}

.button-submit{
    display: block;
    outline: none;
    border: .1px solid rgb(24, 126, 221);
    border-radius: .2rem;
    width: 47%;
    height: 12%;
    font-family: 'PT Sans', sans-serif;
    font-size: 120%;
    background-color: rgb(24, 126, 221);
    color: white;
    margin-top: 2%;
    cursor: pointer;
}

#login-heading{
    margin-bottom: 5%;
}

#label-login-handle, #label-login-password{
    margin-bottom: 1.6%;
}