@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0vh;
    padding: 0vh;
    box-sizing: border-box;
}

#container {
    height: 100vh;
    width: 100%;
    background: linear-gradient(144deg, #23A6D5, #058b63);
    background-size: 100% 100%;
    position: absolute;
}

#main-box { 
    padding: 5vh;
    height:94vh;
    width:97%;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 3vh;
    margin-right: 3vh;
    background-color: white;
}

#login-container {
    background: linear-gradient(to top left , pink , lightblue);
    border: 1px solid white;
    border-radius: .5rem;
    height: fit-content;
    width: fit-content;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-top: .5vh;
    padding-bottom: .5vh;
    margin-top : 3vh;
    margin-left: 3vh;
    font: bold 3vh "Montserrat", sans-serif;
}

#bg-contain {
    background : linear-gradient(to left, #8f94fb, #4e54c8);  
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
}

#inside-container { 
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 5vh;
    margin-right: 5vh;
    height: 93%;
    width: 93.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#user-name {
    border-radius: 0.5rem;
    font:  3vh "Montserrat", sans-serif;
    outline: none;
    height: 5vh;
    width: 30vh; 
    margin-bottom: 8vh;
    text-align: center;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
}

#password { 
    border-radius: 0.5rem;
    font: 3vh "Montserrat", sans-serif;
    outline: none;
    height: 5vh;
    width: 30vh;
    margin-bottom: 8vh;
    text-align: center;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
}

/* CSS */
#submit-button {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}


#outline-figure {
    position: absolute;
    font-size: 20vh;
    height: 0;
    width: 5vh;
}

#outline-figure-container {
    display: flex;
    position: relative;
    flex-direction: row;
    flex: 1;
    margin-right: 18vh;
}